<.header>
  Page {@page.id}
  <:subtitle>This is a page record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/pages/#{@page}/edit"}>
      <.button>Edit page</.button>
    </.link>
  </:actions>
</.header>

<.list>
</.list>

<.back navigate={~p"/pages"}>Back to pages</.back>
